@page "/Cards"
<PageTitle>Show Cards</PageTitle>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="row">
        <div class="col-md-3">
            @*<input class="btn btn-primary" value="CreateWeather" @onclick="OpenCreateModal"/>*@
            <Button Caption="ثبت و تایید" Type="@ButtonTypes.Primary" IsSubmit="false" OnClick="OpenCreateModal">
            </Button>
            <Button Caption="انصراف" Type="@ButtonTypes.Secondary" TextColor="#000">
            </Button>
            <CustomSearchBox Placeholder="Summary" OnSearchChanged="GetForecasts">
            </CustomSearchBox>

            @*<CustomSearchBox Placeholder="Summary" OnSearchChanged="async (e)=>{SearchQuery=e;await GetFilteredForecasts();}">
            </CustomSearchBox>*@
            
            <CreateWeatherModal @ref="createWeatherModal">
            </CreateWeatherModal>
            
            <CustomSelect OnChange="HandleStatusChange" Options="statusList" />
            
            @*<CustomDatePicker Id="startDate" Label="از تاریخ" OnChange="HandleChangeStartDate" />*@

            <br/>   
            <SfDropDownList TValue="int" TItem="WeatherForecast" AllowFiltering="true" Placeholder="Select a weather" DataSource="@forecasts">
                <DropDownListFieldSettings Value="TemperatureC" Text="TemperatureC"></DropDownListFieldSettings>
                <DropDownListEvents TValue="int" TItem="WeatherForecast" ValueChange="OnValueChange"></DropDownListEvents>
            </SfDropDownList>
            
            <br/>   
            
            <SfMultiSelect TValue="string[]" TItem="Games" Placeholder="Favorite Sports" DataSource="@LocalData">
                <MultiSelectFieldSettings Text="Text" Value="ID"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
    </div>
    
<br />
    <div class="row">

        <InfiniteScrolling ObserverTargetId="observerTarget" ObservableTargetReached="GetFilteredForecasts">
          
            @foreach (var forecast in forecasts)
            {
                <WeatherCard></WeatherCard>
            }

            <div id="observerTarget"></div>

        </InfiniteScrolling>
       
    </div>

   

}

