@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.SplitButtons
@page "/ShowComponents"

<PageTitle>ShowComponents</PageTitle>


<SfCard>
    <CardHeader Title="Explore Cities">
        <div class="colored-bar"></div>
        <SfDropDownButton>
            <DropDownMenuItems>
                <DropDownMenuItem Text="Edit"></DropDownMenuItem>
                <DropDownMenuItem Text="Delete"></DropDownMenuItem>
                <DropDownMenuItem Text="Mark as Read"></DropDownMenuItem>
                <DropDownMenuItem Text="Like Message"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
    </CardHeader>
    <CardContent EnableSeparator="true">
        Sydney is a city on the east coast of Australia. Sydney is the capital city of New South
        Wales. About four million people live in Sydney which makes it the biggest cityin Oceania.
    </CardContent>
</SfCard>




      <style>
    .card {
      position: relative;
    }
    
    .colored-bar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 10px; /* Width of the colored bar */
      background-color: #ff5733; /* Your desired color */
    }
    
    .card-body {
      margin-right: 15px; /* Space for the colored bar */
    }

    .e-card .e-card-separator {
        width: 98%;
        margin: auto;
    }

    .e-dropdown-btn .e-caret::before, .e-dropdown-btn.e-btn .e-caret::before {
        content: url('/images/svg/calendar.svg');
    }


  </style>
