.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

hr.solid {
    border-top: 2px solid #121111;
    width: 86%;
    margin: auto;
}

.card-border {
    border: 2px solid gray;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.img-size {
    width: 40px;
    height: 40px;
}